@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*{
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
}

body, #root, div{
    display: flex;
    position: relative;
}

body, #root{
    flex-direction: column;
}

.flexRow{
    flex-direction: row;
}

.flexCol{
    flex-direction: column;
}

.alignItemsCenter{
    align-items: center;
}

.justifyContentCenter{
    justify-content: center;
}

.padding{
    padding: 1em;
}

.productList>div {
    padding: 1em;
    margin-bottom: 1em;
    border: 0.1em black solid;
    border-radius: 1em;
}

.productList>div>div>img{
    display: flex;
    max-height: 100px;
    min-width: 100%;
    max-width: 100px;
}